* {
    box-sizing: border-box;
}
catstyle {
    background: #747a83;}
    catstyle #catstyleid {
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }

orderstyle {
    background: #747a83;
    }
    orderstyle #orderstyleid {
        width: 25%;
        position: relative;
        min-height: 1px;
        padding-left: 5px;
        padding-right: 15px;
        float: left;
    }